/* Ana konteyner için stil */
.yieldcurve {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #c7d6d6;
  border: 1px solid #ccc;
}
.yieldcurve .dates {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: "#EFF8F8";
}

.yieldcurve .dates .interpolatedData {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: white;
}

.yieldcurve .dates .businessDateBox {
  border-radius: 10px;
}

.yieldcurve .graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

/* Form elemanları için stil */
label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="date"] {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: "#EFF8F8";
}

/* Interpolasyon sonuçları için stil */
strong {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}
