/* Ana konteyner için stil
background-color: #c7d6d6; */
.yieldcurve {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  background-color: #c7d6d6;
  border: 1px solid #ccc;
}

.yieldcurve .dates {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: "#EFF8F8";
}

.FileSelectandSend {
  display: flex;
  width: 800px;
  flex-direction: column;
}

.SelectFileLabel {
  margin-bottom: 10px;
}
.yieldcurve .dates .FileSelectandSend .fileSelect {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  height: 35px;
  width: 132px;
  margin-top: -6px;
  margin-bottom: 7px;
}

.yieldcurve .dates .sendButton {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  height: 35px;
  width: 132px;
  margin-top: -6px;
  margin-bottom: 7px;
}

.yieldcurve .dates .interpolatedData {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: white;
}

.yieldcurve .dates .businessDateBox {
  border-radius: 10px;
}

/*
.yieldcurve .dates .RangeSelectBox {
  border: 1px solid #ccc;
  border-radius: 10px;
}
*/
.yieldcurve .dates .RangeSelectBox .selectBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  height: 35px;
  width: 132px;
  margin-top: -6px;
  margin-bottom: 7px;
}

.yieldcurve .graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

/* Form elemanları için stil */
label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="date"] {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: "#EFF8F8";
}

/* Interpolasyon sonuçları için stil */
strong {
  display: block;
  margin-top: 20px;
  font-size: 18px;
}

/* Responsive kısım */

/* Ekran genişliği 768px ve altı için */
@media (max-width: 768px) {
  .yieldcurve {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
  }

  .yieldcurve .dates,
  .yieldcurve .graph {
    width: 100%;
  }

  .yieldcurve .dates .RangeSelectBox .selectBox,
  .yieldcurve .dates .businessDateBox input[type="date"],
  .yieldcurve .dates .TargetDateBox input[type="date"] {
    width: 100%;
  }
}

/* Ekran genişliği 480px ve altı için */
@media (max-width: 480px) {
  .yieldcurve {
    padding: 5px;
  }

  .yieldcurve .dates {
    padding: 5px;
  }

  .yieldcurve .dates .RangeSelectBox .selectBox,
  .yieldcurve .dates .businessDateBox input[type="date"],
  .yieldcurve .dates .TargetDateBox input[type="date"] {
    width: 100%;
    box-sizing: border-box;
  }
}
